body {
	font-family: 'Slabo 27px', serif;
}

.photo img {

	width: 100%;
} 

span {
	font-size: 15px;
}


#custom-search-input{
    padding: 3px;
    
}

#custom-search-input input{
    padding: 10px;
    border: 2px solid grey;
    background-color: #fff;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    padding: 10px;
    border: 2px solid grey;
    background-color: #fff;
   
}



.redclass {
	color: red;
}

.list-text {
    font-size: 32px;
}